<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <head>
        <title>Spring Team Area</title>
    </head>
    <body>
        <h1>Insert the new name of [[${team}]] team.</h1>
        <table>
            <tbody>
                <tr>
                    <td>
                        <form th:action="@{/teamservice/updateteam/{id}(id=${team.id})}" th:object="${team}" method="post">
                            <input type="text"  name="editTeamName" id="editTeamName" width="200px" required="true"/>
                            <input type="submit" value="Update Team Name"  />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>